<div class="col-lg-4 col-md-4">
    <aside class="aside-policy pt-5">
        <div class="list-group">
            <%= link_to "About",help_about_path, class: "list-group-item" %>
            <%= link_to "Privacy Policy",help_about_path, class: "list-group-item" %>
            <%= link_to "Terms of Servce",help_about_path, class: "list-group-item" %>
            <%= link_to "Faq",help_about_path, class: "list-group-item" %>
            <%= link_to "Usage Fee",help_about_path, class: "list-group-item" %>
            <%= link_to "Shipping Method",help_about_path, class: "list-group-item" %>
            <%= link_to "Payment Method",help_about_path, class: "list-group-item" %>
            <%= link_to "Terms & Condition",help_about_path, class: "list-group-item" %>
        </div>
    </aside>
</div>