<main class="main" id="main">
    <div class="page page--cart bg-light-green bg-leaf">
        <section class="cart pt-5">
            <div class="container">
                <form action="">
                    <div class="row">
                        <div class="col-lg-8 col-md-7">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row d-desktop">
                                        <div class="col-lg-5">
                                            <h6 class="cart-heading">Product</h6>
                                        </div>
                                        <div class="col-lg-2 col-md-3">
                                            <h6 class="cart-heading">Quantity</h6>
                                        </div>
                                        <div class="col-lg-2 col-md-3">
                                            <h6 class="cart-heading">Marketplace</h6>
                                        </div>
                                    </div>

                                    <!--Item-->
                                    <div class="row cart__item gx-0 gx-lg-3">
                                        <div class="col-lg-5">
                                            <a href="product-detail.html" class="media">
                                                <div class="cart__item-img">
                                                    <%= image_tag "product/detail/main-1.png", :alt => 'Image' %>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="cart__item-title">ADIDAS ULTRA BOOST CG3038 TRIPLE BLACK </h5>
                                                    <h6 class="cart__item-price">US$ 260.00</h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6">
                                            <div class="cart__item-qty">
                                                <select name="qty[]" class="form-select">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6">
                                            <div class="cart__item-marketplace">
                                                <%= image_tag "logo/marketplace/rakuten.png", :alt => 'Image' %>
                                            </div>
                                        </div>
                                        <div class="col-lg-auto col-md-4 ml-auto">
                                            <div class="cart__item-action">
                                                <button type="button" class="btn btn-outline-grey">
                                                    <i class="far fa-heart"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-grey">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Item-->
                                    <!--Item-->
                                    <div class="row cart__item gx-0 gx-lg-3">
                                        <div class="col-lg-5">
                                            <a href="product-detail.html" class="media">
                                                <div class="cart__item-img">
                                                    <%= image_tag "product/detail/main-2.jpg", :alt => 'Image' %>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="cart__item-title">ADIDAS POD BLACK NEON</h5>
                                                    <h6 class="cart__item-price">US$ 110.00</h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6">
                                            <div class="cart__item-qty">
                                                <select name="qty[]" class="form-select">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6">
                                            <div class="cart__item-marketplace">
                                                <%= image_tag "logo/marketplace/3.png", :alt => 'Image' %>
                                            </div>
                                        </div>
                                        <div class="col-lg-auto col-md-4 ml-auto">
                                            <div class="cart__item-action">
                                                <button type="button" class="btn btn-outline-grey">
                                                    <i class="far fa-heart"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-grey">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Item-->
                                    <!--Item-->
                                    <div class="row cart__item gx-0 gx-lg-3">
                                        <div class="col-lg-5">
                                            <a href="product-detail.html" class="media">
                                                <div class="cart__item-img">
                                                    <%= image_tag "product/detail/main-3.jpg", :alt => 'Image' %>
                                                </div>
                                                <div class="media-body">
                                                    <h5 class="cart__item-title">ADIDAS POD BLACK NEON</h5>
                                                    <h6 class="cart__item-price">US$ 110.00</h6>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6">
                                            <div class="cart__item-qty">
                                                <select name="qty[]" class="form-select">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-4 col-6">
                                            <div class="cart__item-marketplace">
                                                <%= image_tag "logo/marketplace/amazon.png", :alt => 'Image' %>
                                            </div>
                                        </div>
                                        <div class="col-lg-auto col-md-4 ml-auto">
                                            <div class="cart__item-action">
                                                <button type="button" class="btn btn-outline-grey">
                                                    <i class="far fa-heart"></i>
                                                </button>
                                                <button type="button" class="btn btn-outline-grey">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Item-->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-5">
                            <div class="card mb-15px">
                                <div class="card-body">
                                    <h6 class="cart-heading">Shipping</h6>
                                    <!--Item Shipping-->
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="shipping" id="shipping-1" value="Express" checked>
                                            <label class="form-check-label" for="shipping-1">
                                                Express Shopping
                                            </label>
                                        </div>
                                    </div>
                                    <!--End Item Shipping-->
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <%= image_tag "cart/payment.svg", :alt => 'Image', :class =>"w-100 mb-30px" %>
                                    <div class="cart-total">
                                        <div class="row">
                                            <div class="col-lg-7 col-md-6 col-6">
                                                <p>Total Price:</p>
                                            </div>
                                            <div class="col-lg-5 col-md-6 col-6">
                                                <p>US$ 480.00</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7 col-md-6 col-6">
                                                <p>Shipping:</p>
                                            </div>
                                            <div class="col-lg-5 col-md-6 col-6">
                                                <p>US$ 15.00</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-7 col-md-6 col-6">
                                                <h6>Total:</h6>
                                            </div>
                                            <div class="col-lg-5 col-md-6 col-6">
                                                <h6>US$ 495.00</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Make Purchase</button>
                                    </div>
                                    <div class="row cart-payment justify-content-between">
                                        <div class="col-auto">
                                            <%= image_tag "cart/payment/mastercard.png", :alt => 'Image' %>
                                        </div>
                                        <div class="col-auto">
                                            <%= image_tag "cart/payment/visa.png", :alt => 'Image' %>
                                        </div>
                                        <div class="col-auto">
                                            <%= image_tag "cart/payment/american-express.png", :alt => 'Image' %>
                                        </div>
                                        <div class="col-auto">
                                            <%= image_tag "cart/payment/paypal.png", :alt => 'Image' %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
</main> <!-- main -->