<p id="notice"><%= notice %></p>
<h1>Listing Users</h1>
<% if @users.present? %>
<table class="table table-bordered ">
    <tr>
        <th>Name</th>        
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    
    <% @users.each do |t| %>
        <tr>
            <td><%= t.name %></td>
            
            <td><%= t.email %></td>
            <td>
                <td><%= link_to "Edit", edit_admin_user_path(t.id) %></td>
            </td>
            <td><%= link_to "Destroy", admin_user_path(t.id), method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
    <% end %>
</table>


<%= paginate @users %>

<% end %>
 
<%= link_to "New user", new_admin_user_path %>