<!DOCTYPE html>
<html>
  <head>Okurita</head>
  <body>
  	<ul>
  		<li><%= link_to "Books, Comics & Magazines",amazon_category_path(id:100371) %> </li>
  		<li><%= link_to "DVD",amazon_category_path(id:100371) %> </li>
  		<li><%= link_to "Electronics & Camera",amazon_category_path(id:100371) %> </li>
  		<li><%= link_to "Computer",amazon_category_path(id:100371) %> </li>
  		<li><%= link_to "Pet",amazon_category_path(id:100371) %> </li>
  		<li><%= link_to "Food & Beverage",amazon_category_path(id:100371) %> </li>
  		<li><%= link_to "Baby & Toys",amazon_category_path(id:100371) %> </li>
  		<li><%= link_to "Sports & Outdoors",amazon_category_path(id:100371) %> </li>
  		<li><%= link_to "Bicycle",amazon_category_path(id:100371) %> </li>
  	</ul>
	<%= yield %>
  </body>
</html>