<!DOCTYPE html>
<html>
  <head>Okurita</head>
  <body>
  	<ul>
  		<li><%= link_to "Computer",auction_category_path(id:23336) %> </li>
  		<li><%= link_to "Electronics & Cameras",auction_category_path(id:23632 ) %> </li>
  		<li><%= link_to "Music",auction_category_path(id:22152) %> </li>
  		<li><%= link_to "Books & Magazines",auction_category_path(id:21600) %> </li>
  		<li><%= link_to "Movies",auction_category_path(id:21964) %> </li>
  		<li><%= link_to "Toys & Games",auction_category_path(id:25464) %> </li>
  		<li><%= link_to "Hobbies and Crafts",auction_category_path(id:24242) %> </li>
  		<li><%= link_to "Sports & Recreation",auction_category_path(id:24698) %> </li>
  		<li><%= link_to "Fashion",auction_category_path(id:23000) %> </li>
  		<li><%= link_to "Accessories & Watches",auction_category_path(id:23140) %> </li>
  		<li><%= link_to "Beauty and Healtcare",auction_category_path(id:42177) %> </li>
  		<li><%= link_to "Business and Office",auction_category_path(id:22896) %> </li>
  		<li><%= link_to "Baby",auction_category_path(id:24202) %> </li>
  		<li><%= link_to "Manga and Anime",auction_category_path(id:20060) %> </li>
  	</ul>
	<%= yield %>
  </body>
</html>