<!DOCTYPE html>
<html>
  <head>Okurita</head>
  <body>
  	<ul>
  		<li><%= link_to "Ladies Fashion",shopping_category_path(id:2494) %> </li>
  		<li><%= link_to "Men's Fashion",auction_category_path(id:2495 ) %> </li>
  		<li><%= link_to "Watch",auction_category_path(id:2496) %> </li>
  		<li><%= link_to "Food & Drink",auction_category_path(id:2498) %> </li>
  		<li><%= link_to "Smartphone & Camera",auction_category_path(id:2512) %> </li>
  		<li><%= link_to "Beauty & Healthcare",auction_category_path(id:2501) %> </li>
  		<li><%= link_to "Pets",auction_category_path(id:2509) %> </li>
  		<li><%= link_to "Bicycle",auction_category_path(id:3174) %> </li>
  		<li><%= link_to "Baby & Kids",auction_category_path(id:2497) %> </li>
  		<li><%= link_to "Video Game",auction_category_path(id:2511) %> </li>
  		<li><%= link_to "CD/DVD",auction_category_path(id:2497) %> </li>
  	</ul>
	<%= yield %>
  </body>
</html>